name: unittests

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - master
      - develop
      - "release/*"
  pull_request:

jobs:
  tests_graph:
    runs-on: ubuntu-latest
    timeout-minutes: 150
    strategy:
      max-parallel: 4
      fail-fast: False
      matrix:
        python-version: [ "3.7", "3.8", "3.10" ]
    name: JIT compiled tests for Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.4.0
        name: Set up Python ${{ matrix.python-version }}

        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Test with pytest
        run: |
          pip install .[dev]
          coverage run --source=. --omit=".tox/*" --branch -m pytest .
          coverage report


  tests_eager:
    runs-on: ubuntu-latest
    timeout-minutes: 150
    strategy:
      max-parallel: 4
      fail-fast: False
      matrix:
        python-version: [ "3.7", "3.8", "3.10" ]
    name: Eager mode tests for Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.4.0
        name: Set up Python ${{ matrix.python-version }}

        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Test with pytest
        run: |
          pip install .[dev]
          ZFIT_DO_JIT=0
          coverage run --source=. --omit=".tox/*,*/test*," --branch -m pytest .
          coverage report
